.section-title.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.image {
  display: block;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid tomato; */
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-first {
  color: #2196F3;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: #2196F3;
}
.site-nav .link.current {
  color: #2196F3;
}

.site-nav .item {
  position: relative;
}
.site-nav .item .current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 95%;
  left: 0;
  display: inline-block;
  background-color: #2196F3;
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item {
  margin-left: 10px;
}
.auth-nav .item-phone {
  margin-left: 30px;
}

.email,
.tel {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.email.link,
.tel.link {
  margin-left: 10px;
}
.item-email:hover .email, .item-email:focus .email, .item-phone:hover .email, .item-phone:focus .email,
.item-email:hover .tel,
.item-email:focus .tel,
.item-phone:hover .tel,
.item-phone:focus .tel {
  color: #2196F3;
  fill: #2196F3;
}

.item-email,
.item-phone {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-email:hover, .item-email:focus,
.item-phone:hover,
.item-phone:focus {
  color: #2196F3;
  fill: #2196F3;
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-color: #2F303A;
}

.hero {
  margin-bottom: 94px;
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #F5F4FA;
  color: #2196F3;
}

.section {
  margin-bottom: 94px;
}

.details .item {
  width: calc((100% - 90px) / 4);
}
.details .item:not(:last-child) {
  margin-right: 30px;
}

.picture {
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}
.picture .icon {
  margin-top: 25px;
  margin-left: 100px;
}

.text-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.works .item:not(:last-child) {
  margin-right: 30px;
}

.work-examples {
  margin-bottom: 94px;
}

.occupation {
  position: relative;
}
.occupation::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.occupation .text-title {
  position: absolute;
  margin: 0;
  left: 0;
  bottom: 27px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

.section.background {
  max-width: 1600px;
  min-height: 708px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F4FA;
}

.workers > .item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.workers > .item:not(:last-child) {
  margin-right: 30px;
}
.workers > .item:hover .image, .workers > .item:focus .image {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.workers > .item .image {
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employees {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.post {
  margin-top: 0;
  margin-bottom: px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.list.social {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  justify-content: space-between;
}

.social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon:hover, .social-icon:focus, .social-icon:hover .icon, .social-icon:focus .icon {
  background-color: #2196F3;
  fill: #FFFFFF;
}
.social-icon .icon {
  margin-top: 12px;
  margin-left: 12px;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list.clients {
  justify-content: space-between;
}

.client .icon {
  margin-top: 16px;
  margin-left: 32px;
}

.clients .client {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.clients .client:hover, .clients .client:focus, .clients .client:hover .icon, .clients .client:focus .icon {
  border-color: #2196F3;
  fill: #2196F3;
}

.clients .icon {
  fill: #AFB1B8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container.footer {
  height: 252px;
}

.footer-bg {
  max-width: 1600px;
  background-color: #2F303A;
  margin-left: auto;
  margin-right: auto;
}

.footer .logo {
  color: #FFFFFF;
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
}

.address {
  display: block;
  margin-bottom: 9px;
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.email,
.tel {
  display: block;
  margin-bottom: 9px;
}

.email.footer-color,
.tel.footer-color {
  color: rgba(255, 255, 255, 0.6);
}

.item-address {
  margin-right: 85px;
}

.social-link {
  display: inline-block;
  margin-top: 72px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer .item-link {
  margin-right: 93px;
}

.social.footer {
  width: 206px;
  justify-content: space-between;
}

.footer .icon {
  fill: #FFFFFF;
}

.footer .social-icon {
  background: rgba(255, 255, 255, 0.1);
}
.footer .social-icon:hover, .footer .social-icon:focus {
  background-color: #2196F3;
}

.footer .item-form {
  margin-top: 72px;
}

.form-footer-field {
  display: flex;
  flex-direction: column;
}

.footer .form-label {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer .form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  color: #FFFFFF;
}

.footer .mail-elements {
  display: flex;
}

.footer .form-btn {
  display: inline-flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border-radius: 4px;
  background-color: #2196F3;
  border-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal-close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.icon-close {
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .icon-close {
  fill: var(--accent-color);
}

.modal .form {
  width: 448px;
  margin: 40px;
}

.modal .title {
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.form-field.comment {
  margin-bottom: 20px;
}
.form-field.checkbox {
  margin-bottom: 30px;
}

.form-field .input {
  width: 448px;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field .input:hover, .form-field .input:focus {
  border-color: #2196F3;
  cursor: pointer;
}

.form-field .comment {
  width: 448px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field .comment:hover, .form-field .comment:focus {
  border-color: #2196F3;
  cursor: pointer;
}

.form-field .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .input:hover ~ .icon,
.form-field .input:focus ~ .icon {
  fill: #2196F3;
}

.form-field .label {
  display: inline-block;
  margin: 0;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-label.policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-label,
.policy-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form-field .checkbox {
  appearance: none;
  position: absolute;
}
.form-field .checkbox:checked + .checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: #2196F3;
  background-image: url(../images/checkbox-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-color: transparent;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.form-field.checkbox {
  display: flex;
  align-items: center;
  width: 425px;
  margin-left: auto;
  margin-right: auto;
}

.form .submit {
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #2196F3;
  border-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.header-portfolio {
  margin-bottom: 94px;
}
.header-portfolio::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ECECEC;
}

.menu {
  margin-bottom: 50px;
}

.button-portfolio {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #F5F4FA;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover, .button-portfolio:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.choose .item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.choose .item:not(:last-child) {
  margin-right: 8px;
}
.choose .item:hover, .choose .item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list.choose {
  justify-content: center;
}

.projects {
  margin-bottom: 94px;
}

.gallery {
  flex-wrap: wrap;
}

.gallery .item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.gallery .item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}
.gallery .item:hover, .gallery .item:focus, .gallery .item:hover .card, .gallery .item:focus .card {
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.item-border {
  width: 100%;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery .text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  min-height: 168px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */